name: Build (Multiple Arch)

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    #if: github.event_name == 'push' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      
      - name: Cache Go Modules
        uses: actions/cache@v5
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-mod-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            go-mod-${{ runner.os }}-
      
      - name: Run Make
        run: make BUILD_TYPE=DEBUG

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with: 
          name: build_artifacts
          path: build/*

  publish_to_aur:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Publish AUR package (GET)
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: chibi-cli-git
          pkgbuild: ./installer_scripts/aur/chibi-cli-git/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: "cosmicpredator@proton.me"
          ssh_private_key: ${{ secrets.AUR_EMAIL }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,ecdsa,ed25519

      
      
