name: Build (Multiple Arch)

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    #if: github.event_name == 'push' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      
      - name: Cache Go Modules
        uses: actions/cache@v5
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-mod-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            go-mod-${{ runner.os }}-
      
      - name: Run Make
        run: make BUILD_TYPE=DEBUG

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with: 
          name: build_artifacts
          path: build/*
  
  publish_to_aur:
      needs: build
      runs-on: ubuntu-latest
      container: archlinux:latest
    
      steps:
        - name: Checkout Source
          uses: actions/checkout@v6
          with:
            fetch-depth: 0
    
        - name: Install AUR tools
          run: pacman -Syu --noconfirm base-devel git openssh sudo
    
        - name: Update chibi-cli-git AUR
          env:
            GIT_SSH_COMMAND: "ssh -i /root/.ssh/aur -o UserKnownHostsFile=/root/.ssh/known_hosts -o StrictHostKeyChecking=yes"
          run: |
            set -e
    
            # create build user
            useradd -m builder
            echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
    
            # SSH setup for root (git push)
            install -dm700 /root/.ssh
            echo "${{ secrets.AUR_KEY }}" > /root/.ssh/aur
            chmod 600 /root/.ssh/aur
            ssh-keyscan aur.archlinux.org > /root/.ssh/known_hosts
            chmod 644 /root/.ssh/known_hosts
    
            # clone AUR repo
            git clone aur@aur.archlinux.org:chibi-cli-git.git
            chown -R builder:builder chibi-cli-git
            cd chibi-cli-git
    
            # bump pkgrel
            current=$(grep '^pkgrel=' PKGBUILD | cut -d= -f2)
            next=$((current+1))
            sed -i "s/^pkgrel=.*/pkgrel=$next/" PKGBUILD
    
            # generate .SRCINFO as non-root
            sudo -u builder bash -c "makepkg --printsrcinfo > .SRCINFO"
    
            # commit & push as root (has SSH)
            git config user.name "github-actions"
            git config user.email "actions@github.com"
            git commit -am "update" || echo "no changes"
            git push
